<div class="container-admin">
        {{> userMenu}}
        <div class="user-content">
            {{> userheader}}
            <div class="user-content-table">
                <div class="content-table-container">
                    <h1 class="content-table-container-header">
                        Danh sách tài khoản
                    </h1>
                    <div class="content-table-container-list">
                        
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>STT</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>ngày tạo</th>
                                <th colspan="2">ngày đăng</th>
                              </tr>
                            </thead>
                            <tbody>
                                {{#each listuser}}
                                    <tr>
                                        <th scope="row">{{index @index 1}}</th>
                                        <td>{{this.username}}</td>
                                        <td>{{this.email}}</td>
                                        <td>{{this.phone}}</td>
                                        <td>{{dateformat this.createAt}}</td>
                                        <td>
                                            <a href="#" type="button" class="btn btn-danger" data-iduser="{{this._id}}"  data-toggle="modal" data-target="#exampleModal">xóa</a>
                                        </td>
                                    </tr>
                                {{/each}}
                              
                              
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thông báo !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   Bạn có thật sự muốn xóa
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="btn-delete-user" type="button" class="btn btn-danger">Delete</button>
                </div>
                </div>
            </div>
        </div>
        <form id="form-delete" method="POST" ></form>
    <script>
        const user_search_icon = document.querySelector('.menu-user-content-search i');
        const user_closed_icon = document.querySelector('.menu-user-content-closed');
        const user_input_search = document.querySelector('.menu-user-content-search input');
        user_search_icon.addEventListener('click',(e)=>{
            user_input_search.style.width = '250px';
            user_closed_icon.style.display = 'block';
        });
        user_closed_icon.addEventListener('click',(e)=>{
            user_input_search.style.width = '0px';
            user_closed_icon.style.display = 'none';
        });
        document.addEventListener("DOMContentLoaded",()=>{
            var form = document.querySelector('#form-delete');
            var btn = document.querySelector('#btn-delete-user');
            var iduser ;
            $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) 
            var id = button.data('iduser') 
            iduser = id;
            })
            btn.addEventListener('click',(e)=>{
                form.action = "user/admin/delete-user/"+iduser+"?_method=DELETE";
                form.submit();
            })
            
        })
    </script>